* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#reviewPageTitle {
    font-size: 6vw; 
    color: white !important;
    letter-spacing: .5vmax;
    font-family: "Poiret One", sans-serif;
    font-weight: 700;
    filter: brightness(2);
    margin-top: 2vh;
}

#reviewArea {
    display: flex;
    flex-direction: column;
    height: 50vmax;
    width: 100%;
    align-items: center;
    margin:0;
    
    
}

#reviewTitle {
    color: white;
    font-size: 5vmax;
    font-family: "Cantarell", sans-serif;
    font-weight: 100;
    margin-bottom: 2vmax;
}

#reviewFormArea {
    display: flex;
    flex-direction: column;
    height: 50vmax;
    width: 100%;
    font-size:3vmax;
    background-color: #a2631c;
    filter: opacity(.9);
}

/* #reviewForm {
    height: 10vmax;
    width: 100%;
    font-size: 4vmax; */
    
#form {
    display: flex; 
    flex-direction: column;
    color:  #2c2b29;
    margin-top: 3vmax;
    margin-left: 5vmax;
    height: 40vmax;
    width: 80%;
    padding-bottom: 2vmax;
}

label { 
    font-size:3vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;

}

input {
    display: flex;
    width:50vmax;
    height:15vmax;
    color: #2c2b29;
    font-size: 1.5vmax;
}

textarea {
    height: 60vmax;
    width: 50vmax;
    color: #2c2b29;
    font-size: 1.5vmax;
}

#buttonArea {
    display: flex;
    flex-direction: column;
    height: 5vmax;
    width: 100%;
    margin-top: 2vmax;
}

.userbutton-7 {
    align-items: center;
    background-clip: padding-box;
    background-color: #2c2b29;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    filter: brightness(1.5);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.3vmax;
    font-weight: 300;
    justify-content: center;
    line-height: 1.2;
    margin: 0;
    height: 5vmax;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 10vmax;
}
  
.userbutton-7:hover,
.userbutton-7:focus {
    background-color: #64625e;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
  
.userbutton-7:hover {
    transform: translateY(-1px);
}
  
.userbutton-7:active {
    background-color: #64625e;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
